{
  "branches": [
    "main",
    "master",
    {
      "name": "test",
      "prerelease": true
    }
  ],
  "plugins": [
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "Cargo.toml"
        ]
      }
    ],
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits",
        "config": "conventional-changelog-conventionalcommits",
        "releaseRules": [
          {
            "type": "docs",
            "scope": "README",
            "release": "patch"
          }
        ],
        "parserOpts": {
          "noteKeywords": [
            "BREAKING CHANGE",
            "BREAKING CHANGES"
          ]
        }
      }
    ],
    [
      "@semantic-release/exec",
      {
        "verifyReleaseCmd": "eng/set-version.sh --version=${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],
    ["@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "config": "conventional-changelog-conventionalcommits"
      }
    ]
  ]
}
